.container {
  text-align: center;
}

.cartContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  background-color: rgba(195, 195, 195, 0.1);
}

div.cartItem-container {
  margin: 4px auto;
  background-color: rgba(0, 67, 81, 0.1);
}

.cartItem-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 95%;
  text-align: center;
}

.cartItemInfo {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  width: 100%;
  background-color: rgba(97, 176, 255, 0.178);
}

.cartItem-container img {
  width: 100px;
}

.CartItemRemove {
  background-color: rgba(255, 0, 0, 0.667);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  color: white;
  border: solid 2px rgba(107, 0, 0, 0.3);
}

.cartForm input {
  font-size: 16px;
  padding: 10px 5px;
  background-color: rgba(212, 212, 65, 0.1);
  font-weight: bold;
  text-align: center;
  margin: 8px 15px;
  border: solid 1px black;
}
