.NavBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #053dae;
  height: 40px;
}

.NavBar-logo {
  cursor: pointer;
  width: 50px;
}

.NavBar-navLinks ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.NavBar-navLinks ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  transition: 150ms;
  text-decoration-color: #17191d;
}

.rojo {
  color: red;
}

.NavBar-navLinks ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: red;
  text-underline-offset: 3px;
}
